<h2 mat-dialog-title>Erstelle einen neuen Verein</h2>

<mat-dialog-content class="mat-typography">

  <div>
    <form [formGroup]="form">

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput required formControlName="name" id="name">
        <div *ngIf="(form.get('name').invalid) && (form.get('name').touched)" class="alert-danger">
          Keine Korrekte Eingabe!
        </div>
      </mat-form-field><br>

      <mat-form-field appearance="fill">
        <mat-label>Straße</mat-label>
        <input matInput required formControlName="street" id="street">
        <div *ngIf="(form.get('street').invalid) && (form.get('street').touched)" class="alert-danger">
          Keine Korrekte Eingabe!
        </div>
      </mat-form-field><br>

      <mat-form-field appearance="fill">
        <mat-label>PLZ</mat-label>
        <input matInput required formControlName="zipcode" id="zipcode">
        <div *ngIf="(form.get('zipcode').invalid) && (form.get('zipcode').touched)" class="alert-danger">
          Keine Korrekte Eingabe!
        </div>
      </mat-form-field><br>

      <mat-form-field appearance="fill">
        <mat-label>Ort</mat-label>
        <input matInput required formControlName="city" id="city">
        <div *ngIf="(form.get('city').invalid) && (form.get('city').touched)" class="alert-danger">
          Keine Korrekte Eingabe!
        </div>
      </mat-form-field><br>

    </form>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="submit(form)" *ngIf="form.status === 'VALID'">Create</button>
  <button mat-button [mat-dialog-close]="true" disabled *ngIf="form.status === 'INVALID'">Create</button>
</mat-dialog-actions>
