<div *ngIf="enterPageLoader">Loading...</div>

<div *ngIf="!enterPageLoader">

  <div>
    <h2>Club-Details</h2>
    <mat-list>
      <mat-list-item> Name: {{ club?.name }} </mat-list-item>
      <mat-list-item> Street: {{ club?.street }} </mat-list-item>
      <mat-list-item> Zipcode: {{ club?.zipcode }} </mat-list-item>
      <mat-list-item> City: {{ club?.city }} </mat-list-item>
    </mat-list>

    <button mat-raised-button color="warn" (click)="leaveClub()">Leave Club</button>
  </div>

  <br>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <br>

  <div>
    <h2>Newsfeed</h2>
    <mat-list *ngFor="let n of news">
      <mat-list-item> ID: {{ n?.id }} </mat-list-item>
      <mat-list-item> Message: {{ n?.message }} </mat-list-item>
      <mat-list-item> CreatedAt: {{ n?.createdAt }} </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>

  <br>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <br>

  <div>
    <h2>Join-Requests</h2>
    <mat-list *ngFor="let a of activeRequests">
      <mat-list-item> ID: {{ a?.id }} </mat-list-item>
      <mat-list-item> UserId: {{ a?.userId }} </mat-list-item>
      <mat-list-item> Username: To Be Done! </mat-list-item>
      <mat-list-item> CreatedAt: {{ a?.createdAt }} </mat-list-item>
      <br>
      <button mat-raised-button color="primary" (click)="acceptRequest(a?.id)">Accept</button>
      <mat-divider></mat-divider>
    </mat-list>
  </div>

</div>




