table {
  width: 100%;
}

mat-row.hover:hover {
  background: lightsteelblue;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.jumbotron{
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

